@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<p>
    The following is the Brick@Heart online privacy policy, which governs how visitor information (your information)
    is gathered and used on websites affiliated with Brick@Heart: brickatheart.com and communities.brickatheart.com.
    Please take a few minutes to read this policy carefully.
</p>

<p>
    At present, Brick@Heart provides services in North America only, and does not market to individuals
    in the European Economic Area.
</p>

<p>
    Except as provided in this Privacy Policy, unless Brick@Heart previously agrees in writing, all information provided
    to Brick@Heart, including information exchanged through electronic communication, is neither privileged or confidential.
</p>

<h2><small class="text-muted">Information Brick@Heart May Collect Online</small></h2>
<p>
    Brick@Heart or third parties we contract with may use persistent identifiers such as embedded scripts, log files or
    similar technologies to collect information about visitors to our sites, and their interactions.
</p>

<p>
    For example, we may automatically collect certain non-personal information from you, including but not limited to
    your browser type, device type, geographical location, operating system, unique device identifier of any of your
    computer(s) or devices(s) that are used to access the site, software version, Internet Protocol (IP) address, phone model,
    phone operating system and the domain name from which you accessed our sites. We also may collect information about
    your use of the site, including the date and time you visit our sites, the areas or pages that you visit and other usage
    information.
</p>

<h2><small class="text-muted">How We Use Your Information</small></h2>
<p>
    Brick@Heart uses the information we collect solely to improve our services, such as making site navigation easier or
    developing new products and services. We do not sell your information.
</p>

<h2><small class="text-muted">International Transfers</small></h2>
<p>
    If you are visiting our site from outside the United States, be aware that your information will be transferred to, and
    maintained on, computers located within the United States. The collection, use, retention and any other processing of your
    information will be governed by United States law and further by the specific jurisdictions within the United States where
    that information is stored, unless otherwise specified. At present, Brick@Heart provides its services to 
    consumers in North America only and does not market to businesses or individuals in the European Economic Area.
</p>