@using BrickAtHeart.Communities.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User?.Identity?.Name</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-area="User" asp-page="/Account/Manage/Index">Profile</a>
                <a class="dropdown-item" asp-area="User" asp-page="/Account/Manage/Memberships">Memberships</a>
                <a class="dropdown-item" asp-area="User" asp-page="/Account/Manage/LinkedAccounts">Linked Accounts</a>
                <a class="dropdown-item" asp-area="User" asp-page="/Account/Manage/Email">Email</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="User" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="User" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="User" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
