@page

@model BrickAtHeart.Communities.Areas.User.Pages.Account.Manage.ProfileModel

@{
    ViewData["Title"] = "Profile";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="account-manage-profile-form" method="post">
    <div class="row mb-3">
        <div class="form-group col-md-6">
            <label asp-for="SlackMemberId">Slack Member Id</label>
            <input asp-for="SlackMemberId" class="form-control" tabindex="1" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-group col-md-4">
            <label asp-for="IsActive">Is Active</label>
            <input asp-for="IsActive" class="form-check-inline" tabindex="2" disabled />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="IsPrimary">Is Primary</label>
            <input asp-for="IsPrimary" class="form-check-inline" tabindex="3" />
        </div>
    </div>
    <input type="hidden" asp-for="MembershipId" />
    <button id="update-profile-button" type="submit" class="btn btn-dark" tabindex="4">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
