@page

@model ExternalLoginModel

@{
    ViewData["Title"] = "Registration";
}

<h4 id="external-login-title">Finish Registration Using Your @Model.ProviderDisplayName Account</h4>
<hr />
<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter the required details below and click the Finish button to complete registration.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registration.DisplayName"></label>
                <input asp-for="Registration.DisplayName" class="form-control" />
                <span asp-validation-for="Registration.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Email"></label>
                <input asp-for="Registration.Email" class="form-control" />
                <span asp-validation-for="Registration.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.DateOfBirth"></label>
                <input asp-for="Registration.DateOfBirth" class="form-control" />
                <span asp-validation-for="Registration.DateOfBirth" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-dark">Finish</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
