@page

@model LogoutModel

@{
    ViewData["Title"] = "Log Out";
}

<div class="row">
    <div class="col-md">
        @{
            if (User?.Identity?.IsAuthenticated == true)
            {
                <form class="form-inline" asp-area="User" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</div>
