@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<p>Please check your email for a link to confirm your email address.</p>
<p>After you confirm your email address, check out the various communities and join those that interest you.</p>